@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Epilogue/epilogue.css);

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  font-family: "Epilogue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  --black: #000;
  --white: #fff;
  --color-dark-gray: #28293E;
  --color-beige: #FDF0E9;
  --color-brown: #391400;
  --color-green: #4FE24A;
  --color-green-text: #16CD53;
  --color-dark-beige: #f3d1bf;
  --color-orange: #ef6d58;
}

.background {
  width: 100%;
}

.background_color_gray {
  background-color: var(--color-dark-gray);
}

.background_color_beige {
  background-color: var(--color-beige);
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.link-hover {
  transition: opacity .3s;
}

.link-hover:hover {
  opacity: .6;
}

@media (max-width: 1280px) {
  .wrapper {
    padding: 0 23px;
  }
}
